* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body#page-home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 25vh;

  background: linear-gradient(
      45deg,
      rgba(247, 3, 3, 0.91) 0%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 151, 255, 0.9056488806460083) 100%
    )
    no-repeat;
}

body#page-home header {
  display: flex;
  justify-content: center;
}

body#page-home header h1 {
  font-size: 13rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

span.red {
  color: rgba(247, 3, 3, 0.91);
}

span.blue {
  color: rgba(0, 151, 255, 0.9056488806460083);
}

div#button-coisas {
  display: flex;
  justify-content: center;
}

a#btn-coisas-ruins {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Lato", "sans-serif";
  opacity: 0.8;
  margin-top: 5px;
  margin-right: 5px;
}

a#btn-coisas-ruins:hover {
  opacity: 1;
}

a#btn-coisas-boas {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Lato", "sans-serif";
  opacity: 0.8;
  margin-top: 5px;
}

a#btn-coisas-boas:hover {
  opacity: 1;
}

body#page-coisas-boas {
  background: rgba(0, 151, 255, 0.9056488806460083) no-repeat;
}

body#page-coisas-ruins {
  background: rgba(247, 3, 3, 0.91) no-repeat;
}

body#page-coisas-boas header,
body#page-coisas-ruins header {
  display: flex;
  justify-content: center;
}

body#page-coisas-boas header h1,
body#page-coisas-ruins header h1 {
  background: #111;
  width: 28rem;
  margin: 15px 0;
  text-align: center;
  font-size: 4.5rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  border-radius: 15px;
}

body#page-coisas-boas div#content-coisas-boas,
body#page-coisas-ruins div#content-coisas-ruins {
  overflow: scroll;
  background-color: white;
  max-width: 40rem;
  max-height: 40rem;
  margin: auto;
  border-radius: 15px;
}

body#page-coisas-boas div#content-coisas-boas a,
body#page-coisas-ruins div#content-coisas-ruins a {
  text-decoration: none;
  font-family: "Lato", "sans-serif";
  margin: 0 5px 0 5px;
  font-size: 1.5rem;
}

body#page-coisas-boas div#content-coisas-boas p,
body#page-coisas-ruins div#content-coisas-ruins p {
  margin-left: 5px;
  font-family: "Lato", "sans-serif";
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  html[data-fix="fix-1"] {
    height: 115%;
  }

  div#button-coisas {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-left: 0;
  }

  a#btn-coisas-ruins {
    font-size: 1.5rem;
    margin-right: 0;
  }

  a#btn-coisas-boas {
    font-size: 1.5rem;
  }
}

@media (max-width: 380px) {
  html[data-fix="fix-1"] {
    height: 115%;
  }

  div#button-coisas {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-left: -50px;
  }

  a#btn-coisas-ruins {
    font-size: 1.5rem;
    margin-right: 0;
  }

  a#btn-coisas-boas {
    font-size: 1.5rem;
  }
}
